<h2> This is the About page </h2>
<p>This server is created by blah blah blah etc etc etc ...</p>
Well, well, well. You have navigated to the about page, this was created the on the very first day of web-development and will remain here as an artifact!
