<h2> This is the About page </h2>
<p>This server is created by blah blah blah etc etc etc ...</p>
<br>
<%= link_to 'Back To Articles Table', articles_path %> ||
<%= link_to 'View Home Page', root_path %> ||
<%= link_to 'View About Page', about_path %> ||